gunicorn==20.0.4
Flask
h5py==2.10.0
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
Keras-Preprocessing
nltk==3.5
numpy
scikit-learn
tensorflow==2.0.0